In [36]:
# Add pandas as dependency

import pandas as pd

import os

import numpy as np

import matplotlib.pyplot as plt

In [2]:
# Files to load

netflix_data_to_load = "Resources/n_movies.csv"

In [3]:
# Read the data and store it in Pandas DataFrame

netflix_data_df = pd.read_csv(netflix_data_to_load)

netflix_data_df.head()

,title,year,certificate,duration,genre,rating,description,stars,votes
0,Cobra Kai,(2018– ),TV-14,30 min,"Action, Comedy, Drama",8.5,Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...","177,031"
1,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,885"
2,Better Call Saul,(2015–2022),TV-MA,46 min,"Crime, Drama",8.9,The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...","501,384"
3,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,773"
4,Cyberpunk: Edgerunners,(2022– ),TV-MA,24 min,"Animation, Action, Adventure",8.6,A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...","15,413"

In [4]:
# Determine if there is any missing values in the data

netflix_data_df.count()

title          9957
year           9430
certificate    6504
duration       7921
genre          9884
rating         8784
description    9957
stars          9957
votes          8784
dtype: int64

In [5]:
# Determine if there is any missing values in data

netflix_data_df.isnull()

,title,year,certificate,duration,genre,rating,description,stars,votes
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
9952,False,False,False,False,False,False,False,False,False
9953,False,False,False,False,False,False,False,False,False
9954,False,False,False,False,False,False,False,False,False
9955,False,False,False,False,False,False,False,False,False
9956,False,False,False,False,False,False,False,False,False

In [6]:
# Determine if there is any missing values in data

netflix_data_df.isnull().sum()

title             0
year            527
certificate    3453
duration       2036
genre            73
rating         1173
description       0
stars             0
votes          1173
dtype: int64

In [7]:
# Drop the NaNs

netflix_data_df.dropna()

,title,year,certificate,duration,genre,rating,description,stars,votes
0,Cobra Kai,(2018– ),TV-14,30 min,"Action, Comedy, Drama",8.5,Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...","177,031"
1,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,885"
2,Better Call Saul,(2015–2022),TV-MA,46 min,"Crime, Drama",8.9,The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...","501,384"
3,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,773"
4,Cyberpunk: Edgerunners,(2022– ),TV-MA,24 min,"Animation, Action, Adventure",8.6,A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...","15,413"
...,...,...,...,...,...,...,...,...,...
9952,The Imperfects,(2022– ),TV-MA,45 min,"Action, Adventure, Drama",6.3,After an experimental gene therapy turns them ...,"['Morgan Taylor Campbell, ', 'Italia Ricci, ',...","3,130"
9953,The Walking Dead,(2010–2022),TV-MA,44 min,"Drama, Horror, Thriller",8.1,Sheriff Deputy Rick Grimes wakes up from a com...,"['Andrew Lincoln, ', 'Norman Reedus, ', 'Melis...","970,067"
9954,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,898"
9955,Supernatural,(2005–2020),TV-14,44 min,"Drama, Fantasy, Horror",8.4,Two brothers follow their father's footsteps a...,"['Jared Padalecki, ', 'Jensen Ackles, ', 'Jim ...","439,601"
9956,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,786"

In [8]:
netflix_data_df.dropna().count()

title          5754
year           5754
certificate    5754
duration       5754
genre          5754
rating         5754
description    5754
stars          5754
votes          5754
dtype: int64

In [9]:
netflix_data_df

# data limitation = votes are not clear on whether they are compiled from year released or votes per year.

,title,year,certificate,duration,genre,rating,description,stars,votes
0,Cobra Kai,(2018– ),TV-14,30 min,"Action, Comedy, Drama",8.5,Decades after their 1984 All Valley Karate Tou...,"['Ralph Macchio, ', 'William Zabka, ', 'Courtn...","177,031"
1,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,885"
2,Better Call Saul,(2015–2022),TV-MA,46 min,"Crime, Drama",8.9,The trials and tribulations of criminal lawyer...,"['Bob Odenkirk, ', 'Rhea Seehorn, ', 'Jonathan...","501,384"
3,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,773"
4,Cyberpunk: Edgerunners,(2022– ),TV-MA,24 min,"Animation, Action, Adventure",8.6,A Street Kid trying to survive in a technology...,"['Zach Aguilar, ', 'Kenichiro Ohashi, ', 'Emi ...","15,413"
...,...,...,...,...,...,...,...,...,...
9952,The Imperfects,(2022– ),TV-MA,45 min,"Action, Adventure, Drama",6.3,After an experimental gene therapy turns them ...,"['Morgan Taylor Campbell, ', 'Italia Ricci, ',...","3,130"
9953,The Walking Dead,(2010–2022),TV-MA,44 min,"Drama, Horror, Thriller",8.1,Sheriff Deputy Rick Grimes wakes up from a com...,"['Andrew Lincoln, ', 'Norman Reedus, ', 'Melis...","970,067"
9954,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",8.7,Follows the political rivalries and romance of...,"['Claire Foy, ', 'Olivia Colman, ', 'Imelda St...","199,898"
9955,Supernatural,(2005–2020),TV-14,44 min,"Drama, Fantasy, Horror",8.4,Two brothers follow their father's footsteps a...,"['Jared Padalecki, ', 'Jensen Ackles, ', 'Jim ...","439,601"
9956,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",5.9,When a psychiatrist shelters a mysterious cult...,"['Emily Deschanel, ', 'Sam Jaeger, ', 'Gerardo...","9,786"

In [10]:
netflix_data_df = netflix_data_df[['title','year','certificate','duration','genre','rating','votes']]
netflix_data_df.head()

,title,year,certificate,duration,genre,rating,votes
0,Cobra Kai,(2018– ),TV-14,30 min,"Action, Comedy, Drama",8.5,"177,031"
1,The Crown,(2016– ),TV-MA,58 min,"Biography, Drama, History",8.7,"199,885"
2,Better Call Saul,(2015–2022),TV-MA,46 min,"Crime, Drama",8.9,"501,384"
3,Devil in Ohio,(2022),TV-MA,356 min,"Drama, Horror, Mystery",5.9,"9,773"
4,Cyberpunk: Edgerunners,(2022– ),TV-MA,24 min,"Animation, Action, Adventure",8.6,"15,413"

In [11]:
# checking datatype

print(type(netflix_data_df.year[0]))

<class 'str'>

In [12]:
# endswith pattern

#print(netflix_data_df['year'].str.endswith('-'))

netflix_data_df['year'] = netflix_data_df['year'].str.replace('(', '')

netflix_data_df


#netflix_year_shorten = netflix_data_df['year'].slice[:5]

#netflix_year_shorten

#netflix_data_df

C:\Users\andre\AppData\Local\Temp\ipykernel_19940\2455076951.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  netflix_data_df['year'] = netflix_data_df['year'].str.replace('(', '')
C:\Users\andre\AppData\Local\Temp\ipykernel_19940\2455076951.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_data_df['year'] = netflix_data_df['year'].str.replace('(', '')

,title,year,certificate,duration,genre,rating,votes
0,Cobra Kai,2018– ),TV-14,30 min,"Action, Comedy, Drama",8.5,"177,031"
1,The Crown,2016– ),TV-MA,58 min,"Biography, Drama, History",8.7,"199,885"
2,Better Call Saul,2015–2022),TV-MA,46 min,"Crime, Drama",8.9,"501,384"
3,Devil in Ohio,2022),TV-MA,356 min,"Drama, Horror, Mystery",5.9,"9,773"
4,Cyberpunk: Edgerunners,2022– ),TV-MA,24 min,"Animation, Action, Adventure",8.6,"15,413"
...,...,...,...,...,...,...,...
9952,The Imperfects,2022– ),TV-MA,45 min,"Action, Adventure, Drama",6.3,"3,130"
9953,The Walking Dead,2010–2022),TV-MA,44 min,"Drama, Horror, Thriller",8.1,"970,067"
9954,The Crown,2016– ),TV-MA,58 min,"Biography, Drama, History",8.7,"199,898"
9955,Supernatural,2005–2020),TV-14,44 min,"Drama, Fantasy, Horror",8.4,"439,601"
9956,Devil in Ohio,2022),TV-MA,356 min,"Drama, Horror, Mystery",5.9,"9,786"

In [13]:
netflix_data_df['year'] = netflix_data_df['year'].str.replace(')', '')

netflix_data_df.head()

C:\Users\andre\AppData\Local\Temp\ipykernel_19940\1997076803.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  netflix_data_df['year'] = netflix_data_df['year'].str.replace(')', '')
C:\Users\andre\AppData\Local\Temp\ipykernel_19940\1997076803.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_data_df['year'] = netflix_data_df['year'].str.replace(')', '')

,title,year,certificate,duration,genre,rating,votes
0,Cobra Kai,2018–,TV-14,30 min,"Action, Comedy, Drama",8.5,"177,031"
1,The Crown,2016–,TV-MA,58 min,"Biography, Drama, History",8.7,"199,885"
2,Better Call Saul,2015–2022,TV-MA,46 min,"Crime, Drama",8.9,"501,384"
3,Devil in Ohio,2022,TV-MA,356 min,"Drama, Horror, Mystery",5.9,"9,773"
4,Cyberpunk: Edgerunners,2022–,TV-MA,24 min,"Animation, Action, Adventure",8.6,"15,413"

In [14]:
netflix_data_df['year released'] = netflix_data_df['year'].str[0:4]

netflix_data_df['year released']

C:\Users\andre\AppData\Local\Temp\ipykernel_19940\882925735.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_data_df['year released'] = netflix_data_df['year'].str[0:4]

0       2018
1       2016
2       2015
3       2022
4       2022
        ...
9952    2022
9953    2010
9954    2016
9955    2005
9956    2022
Name: year released, Length: 9957, dtype: object

In [15]:
netflix_data_df = netflix_data_df[['title', 'year released', 'certificate', 'duration', 'genre', 'rating', 'votes']]

netflix_data_df.head()

,title,year released,certificate,duration,genre,rating,votes
0,Cobra Kai,2018,TV-14,30 min,"Action, Comedy, Drama",8.5,"177,031"
1,The Crown,2016,TV-MA,58 min,"Biography, Drama, History",8.7,"199,885"
2,Better Call Saul,2015,TV-MA,46 min,"Crime, Drama",8.9,"501,384"
3,Devil in Ohio,2022,TV-MA,356 min,"Drama, Horror, Mystery",5.9,"9,773"
4,Cyberpunk: Edgerunners,2022,TV-MA,24 min,"Animation, Action, Adventure",8.6,"15,413"

In [16]:
netflix_data_df.isna().sum()

title               0
year released     527
certificate      3453
duration         2036
genre              73
rating           1173
votes            1173
dtype: int64

In [17]:
netflix_data_df_drop = netflix_data_df.dropna()

netflix_data_df_drop

,title,year released,certificate,duration,genre,rating,votes
0,Cobra Kai,2018,TV-14,30 min,"Action, Comedy, Drama",8.5,"177,031"
1,The Crown,2016,TV-MA,58 min,"Biography, Drama, History",8.7,"199,885"
2,Better Call Saul,2015,TV-MA,46 min,"Crime, Drama",8.9,"501,384"
3,Devil in Ohio,2022,TV-MA,356 min,"Drama, Horror, Mystery",5.9,"9,773"
4,Cyberpunk: Edgerunners,2022,TV-MA,24 min,"Animation, Action, Adventure",8.6,"15,413"
...,...,...,...,...,...,...,...
9952,The Imperfects,2022,TV-MA,45 min,"Action, Adventure, Drama",6.3,"3,130"
9953,The Walking Dead,2010,TV-MA,44 min,"Drama, Horror, Thriller",8.1,"970,067"
9954,The Crown,2016,TV-MA,58 min,"Biography, Drama, History",8.7,"199,898"
9955,Supernatural,2005,TV-14,44 min,"Drama, Fantasy, Horror",8.4,"439,601"
9956,Devil in Ohio,2022,TV-MA,356 min,"Drama, Horror, Mystery",5.9,"9,786"

In [18]:
netflix_data_df_sort = netflix_data_df_drop.sort_values(by = ['year released'])

netflix_data_df_sort

,title,year released,certificate,duration,genre,rating,votes
1445,Scarface,1932,PG,93 min,"Action, Crime, Drama",7.7,"28,107"
1119,Dumbo,1941,G,64 min,"Animation, Adventure, Drama",7.2,"131,896"
4072,Nazi Concentration Camps,1945,Not Rated,59 min,"Documentary, History",8.3,"1,481"
6348,Know Your Enemy - Japan,1945,Not Rated,63 min,"Documentary, History, War",6.0,800
4627,Along Came Jones,1945,Approved,90 min,"Comedy, Romance, Western",6.4,"2,163"
...,...,...,...,...,...,...,...
3525,Mercy,IV 2,TV-MA,90 min,"Drama, Mystery, Thriller",4.1,"3,519"
5570,The Awakening,V 20,Not Rated,83 min,"Horror, Thriller",2.5,155
5076,Joy,V 20,TV-MA,99 min,Drama,6.6,"1,328"
983,Prey,VI 2,TV-MA,87 min,"Adventure, Drama, Thriller",4.3,"7,747"
3836,At the Devil's Door,VI 2,Not Rated,91 min,Horror,4.7,"7,184"

In [19]:
netflix_data_df_sort.reset_index()

,index,title,year released,certificate,duration,genre,rating,votes
0,1445,Scarface,1932,PG,93 min,"Action, Crime, Drama",7.7,"28,107"
1,1119,Dumbo,1941,G,64 min,"Animation, Adventure, Drama",7.2,"131,896"
2,4072,Nazi Concentration Camps,1945,Not Rated,59 min,"Documentary, History",8.3,"1,481"
3,6348,Know Your Enemy - Japan,1945,Not Rated,63 min,"Documentary, History, War",6.0,800
4,4627,Along Came Jones,1945,Approved,90 min,"Comedy, Romance, Western",6.4,"2,163"
...,...,...,...,...,...,...,...,...
5749,3525,Mercy,IV 2,TV-MA,90 min,"Drama, Mystery, Thriller",4.1,"3,519"
5750,5570,The Awakening,V 20,Not Rated,83 min,"Horror, Thriller",2.5,155
5751,5076,Joy,V 20,TV-MA,99 min,Drama,6.6,"1,328"
5752,983,Prey,VI 2,TV-MA,87 min,"Adventure, Drama, Thriller",4.3,"7,747"
5753,3836,At the Devil's Door,VI 2,Not Rated,91 min,Horror,4.7,"7,184"

In [51]:
netflix_data_df_sort.drop(netflix_data_df_sort.tail(243).index,
                                                inplace = True)

In [52]:
netflix_data_df_sort

,title,year released,certificate,duration,genre,rating,votes
1445,Scarface,1932,PG,93 min,"Action, Crime, Drama",7.7,"28,107"
1119,Dumbo,1941,G,64 min,"Animation, Adventure, Drama",7.2,"131,896"
4072,Nazi Concentration Camps,1945,Not Rated,59 min,"Documentary, History",8.3,"1,481"
6348,Know Your Enemy - Japan,1945,Not Rated,63 min,"Documentary, History, War",6.0,800
4627,Along Came Jones,1945,Approved,90 min,"Comedy, Romance, Western",6.4,"2,163"
...,...,...,...,...,...,...,...
9006,Midnight Mass,2021,TV-MA,63 min,"Drama, Fantasy, Horror",7.7,"3,523"
9324,The Irregulars,2021,TV-14,49 min,"Crime, Drama, Fantasy",6.8,572
1707,Q-Force,2021,TV-MA,30 min,"Animation, Action, Adventure",6.4,"5,557"
9323,The Irregulars,2021,TV-14,58 min,"Crime, Drama, Fantasy",6.3,778
2631,Kitz,2021,TV-MA,45 min,"Drama, Mystery, Thriller",5.7,"2,472"

In [48]:
netflix_data_df_sort['year released'].value_counts()

2020    681
2019    622
2018    602
2021    514
2017    452
       ...
1976      1
1957      1
1958      1
1972      1
1932      1
Name: year released, Length: 75, dtype: int64

In [49]:
#netflix_data_df_sort.to_csv("Resources/netflix_clean_sort.csv", index = False, header = True)

In [50]:
netflix_data_df_sort_rate = netflix_data_df_drop.sort_values(by = ['rating'], ascending = True)

netflix_data_df_sort_rate.head(15)

AttributeError: 'NoneType' object has no attribute 'sort_values'

In [39]:
netflix_data_df_sort_rate.drop_duplicates(subset = ['title'])

netflix_data_df_sort_rate

,title,year released,certificate,duration,genre,rating,votes
9444,BoJack Horseman,2014,TV-MA,26 min,"Animation, Comedy, Drama",9.9,"16,066"
8161,Avatar: The Last Airbender,2005,TV-Y7,25 min,"Animation, Action, Adventure",9.6,"5,221"
8259,Dexter,2006,TV-MA,56 min,"Crime, Drama, Mystery",9.6,"10,604"
8557,JoJo's Bizarre Adventure,2012,TV-MA,25 min,"Animation, Action, Adventure",9.6,"1,442"
9578,Stranger Things,2016,TV-14,98 min,"Drama, Fantasy, Horror",9.6,"36,276"
...,...,...,...,...,...,...,...
3612,The Hype House,2022,TV-MA,36 min,Reality-TV,2.1,"2,955"
3357,Thomas & Friends: All Engines Go,2021,TV-Y,30 min,"Animation, Short, Adventure",2.1,604
4987,Way of the Vampire,2005,R,82 min,"Action, Horror, Thriller",2.0,"1,649"
6033,Hajwala: The Missing Engine,2016,PG-13,96 min,"Action, Adventure, Crime",2.0,261
6633,Defcon 2012,2010,Not Rated,92 min,Sci-Fi,1.7,407

In [43]:
new_ntflx_data = netflix_data_df_sort_rate.groupby(['year released']).count()

new_ntflx_data
#netflix_data_df_sort_rate.plot(x = "year released", y = "rating", kind = 'bar')

#plt.show()

               title  certificate  duration  genre  rating  votes
year released
1932               1            1         1      1       1      1
1941               1            1         1      1       1      1
1945               3            3         3      3       3      3
1946               2            2         2      2       2      2
1947               1            1         1      1       1      1
...              ...          ...       ...    ...     ...    ...
II 2              59           59        59     59      59     59
III               16           16        16     16      16     16
IV 2               6            6         6      6       6      6
V 20               2            2         2      2       2      2
VI 2               2            2         2      2       2      2

[83 rows x 6 columns]