In [7]:
# Add pandas as dependency

import pandas as pd

import os

import matplotlib.pyplot as plt

In [8]:
# Files to load

netflix_data_to_load = "Resources/final_clean_data.csv"

In [23]:
# Read the data and store it in Pandas DataFrame

netflix_data_df = pd.read_csv(netflix_data_to_load)

netflix_data_df.head()

,title,year released,certificate,duration_min,genre,rating,votes,age
0,Scarface,1932,PG,93,Action,7.7,"28,107",90
1,Dumbo,1941,G,64,Animation,7.2,"131,896",81
2,Nazi Concentration Camps,1945,Not Rated,59,Documentary,8.3,"1,481",77
3,Know Your Enemy - Japan,1945,Not Rated,63,Documentary,6.0,800,77
4,Along Came Jones,1945,Approved,90,Comedy,6.4,"2,163",77

In [25]:
netflix_data_df.columns

Index(['title', 'year released', 'certificate', 'duration_min', 'genre ',
       'rating', 'votes', 'age'],
      dtype='object')

In [10]:
# Determine if there is any missing values in the data

netflix_data_df.count()

title            5511
year released    5511
certificate      5511
duration_min     5511
genre            5511
rating           5511
votes            5511
age              5511
dtype: int64

In [27]:
# Determine if there is any missing values in data

netflix_data_df.isnull()

,title,year released,certificate,duration_min,genre,rating,votes,age
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
5506,False,False,False,False,False,False,False,False
5507,False,False,False,False,False,False,False,False
5508,False,False,False,False,False,False,False,False
5509,False,False,False,False,False,False,False,False
5510,False,False,False,False,False,False,False,False

In [31]:
netflix_data_df.columns

Index(['title', 'year released', 'certificate', 'duration_min', 'genre ',
       'rating', 'votes', 'age'],
      dtype='object')

In [33]:
netflix_data_df = netflix_data_df[['title', 'year released', 'certificate', 'duration_min', 'genre', 'rating']]

netflix_data_df

KeyError: "['genre'] not in index"

In [ ]:
netflix_data_df_sort['year released'] = netflix_data_df_sort['year released'].astype('int')

In [ ]:
new_netflix_df = netflix_data_df_sort.loc[netflix_data_df_sort['year released']>2011]
new_netflix_df = new_netflix_df.groupby(['year released'])['rating'].mean()


new_netflix_df.plot(kind = 'bar')

In [ ]:
top_10_movies = netflix_data_df_sort.sort_values("rating", ascending = False).head(10)

top_10_movies

In [ ]:
plt.figure(figsize = (8, 8))

plt.barh(top_10_movies["title"], top_10_movies["rating"], color = "cornflowerblue")

In [ ]:
netflix_data_df_sort['rating category'] = pd.cut(x = netflix_data_df_sort['rating'],
                                          bins = [1, 4, 7, 10],
                                          labels = ['Bad', 'Good', 'Excellent'])
netflix_data_df_sort

In [ ]:
netflix_data_df_sort.drop('title', axis = 1, inplace = True)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X = le.fit

In [ ]:
X = netflix_data_df_sort.drop(['rating', 'rating category'], axis = 1).values
y = netflix_data_df_sort['rating category'].values

In [ ]:
# split the dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, y_train)