In [ ]:
# SAMPLE

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame(
       [['female', 'New York', 'low', 4], ['female', 'London', 'medium', 3], ['male', 'New Delhi', 'high', 2]],
       columns=['Gender', 'City', 'Temperature', 'Rating'])

data

   Gender       City Temperature  Rating
0  female   New York         low       4
1  female     London      medium       3
2    male  New Delhi        high       2

In [3]:
from sklearn.preprocessing import LabelEncoder

data['City_encoded'] = LabelEncoder().fit_transform(data['City'])

data[['City', 'City_encoded']] # special syntax to get just these two columns

        City  City_encoded
0   New York             2
1     London             0
2  New Delhi             1

In [4]:
encoder = LabelEncoder()
encoder.fit(data['City'])
encoder.classes_

array(['London', 'New Delhi', 'New York'], dtype=object)

In [5]:
data['City_encoded'] = encoder.transform(data['City']) # transform as a separate step from fit
data[['City', 'City_encoded']]

        City  City_encoded
0   New York             2
1     London             0
2  New Delhi             1

In [6]:
data['Temperature_encoded'] = data['Temperature'].map( {'low':0, 'medium':1, 'high':2})
data[['Temperature', 'Temperature_encoded']]

  Temperature  Temperature_encoded
0         low                    0
1      medium                    1
2        high                    2

In [7]:
data['Male'] = data['Gender'].map( {'male':1, 'female':0} )
data[['Gender', 'Male']]

   Gender  Male
0  female     0
1  female     0
2    male     1